html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    color: #333;
}

a {
    color:chocolate;
    text-decoration: none;
}

body {
    overflow-y: scroll;
}

img {
    width: 100%;
}